<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('./partials/libs.ejs') %>
  <style>
    .done {
      text-decoration: line-through;
    }
  </style>
</head>

<body>


  <div id="app" class="container" v-if="listtask?true:false">

    <%- include('./partials/navbar.ejs') %>
      <h1 style="padding-top: 30px;">
        <%= title %>
      </h1>
      <div class="row" >
        <div class="col card ">

          <table class="table">
            <tr>
              <th>{{tkb.dayname}}</th>
            </tr>
            <tr v-for="subj in listsubjtoday">
              <td>{{ listsubj[ subj ].value }}</td>
            </tr>
          </table>
        </div>
        <div class="col card ">

          <table class="table">
            <tr>
              <th>Nhiệm vụ</th>
            </tr>
            <tr v-for="(task,index) in listtask">
              <td>
                <div class="text-break" v-bind="{id: 'div'+index}">
                  {{ listsubj[ task.subject ].value + ' - ' +task.task }}	&nbsp;<a role="button" class="link-danger" v-on:click="done(index)">Xong</a>
                </div>
              </td>
              <td>
                <a v-bind="{id: 'a'+index}" role="button" class="link-danger" v-on:click="deletetask(task._id)" hidden>Xóa</a>
              </td>
            </tr>
            
          </table>
        </div>
      </div>
  </div>


  <script>
    const API_PATH = "<%= process.env.API_PATH %>";
    const ALL_SUBJS = <%- JSON.stringify(SUBJECT) %>;
    const ALL_DAYS = <%- JSON.stringify(DAY) %>;
    const d = new Date();
    const DAY = d.getDay();
    var app = new Vue({
      el: '#app',
      data: {
        listsubj: ALL_SUBJS,
        listday: ALL_DAYS,
        message: 'Vue is working!',
        tkb: null,
        listsubjtoday: [],
        listtask: null,
        dayid: DAY,
      },
      async created() {
        await this.getDay();
        await this.getTask();
      },
      methods: {
        //done 
        done: function (id) {
          var div = document.getElementById('div'+id);
          div.classList.toggle("done");
          var a = document.getElementById('a'+id);
          a.removeAttribute("hidden"); 
        },
        async getDay() {
          if (this.dayid == 6) {
            this.message = "Nghỉ thôi bạn ơi";
          }
          try {
            const response = await axios.get(API_PATH + 'get/day', {
              params: {
                id: this.dayid
              }
            });
            this.tkb = response.data;
            this.listsubjtoday = this.tkb.subject;
            //remove same value in array javascript
            this.tkb.subject = this.tkb.subject.filter(function (item, pos) {
              return this.indexOf(item) == pos;
            }, this.tkb.subject);
          } catch (e) {
            console.log(e);
          }
        },
        async getTask() {
          try {
            const response = await axios.get(API_PATH + 'get/taskbysubj', {
              params: {
                subject: this.tkb.subject
              }
            });
            this.listtask = response.data;
          } catch (e) {
            console.log(e);
          }
        },
        async deletetask(id) {
          try {
            const response = await axios.get(API_PATH + 'delete/task', {
              params: {
                _id: id
              }
            });
            this.getTask();
          } catch (e) {
            console.log(e);
          }
        },
      }
    });
  </script>
</body>

</html>